<!--导航 start-->
<nav class="nav px bgw">
    <ul class="displayf">
        <li class="flex1 h40 lh40"><a class="displayb tc" href="index"><i class="iconfont icon-icon active"></i></a></li>
        <li class="flex1 h40 lh40"><a class="displayb tc" href="javascript:void(0);"><i class="iconfont icon-icon1"></i></a></li>
        <li class="flex1 h40 lh40 pr"><a class="displayb tc" href="reservation"><i class="iconfont icon-yuyue1"></i></a></li>
        <li class="flex1 h40 lh40"><a class="displayb tc" href="person"><i class="iconfont icon-iconfont02"></i></a></li>
    </ul>
</nav>
<!--导航 end-->