<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实验室设备管理系统</title>
    <!--引入bootstrap的css文件-->
    <link rel="stylesheet" href="/css/extends/bootstrap/bootstrap.min.css" />
    <!-- datatables的样式 -->
    <link rel="stylesheet" href="/css/extends/datatables/datatables.css" />
    <!-- 所有的基础样式 -->
    <link rel="stylesheet" href="/css/base.css" />
    <!-- 项目的公共样式 -->
    <link rel="stylesheet" href="/css/common.css" />
    <!--引入jquery的js文件-->
	<script type="text/javascript" src="/js/extends/jquery-3.1.0.min.js" ></script>
	<!--引入bootstrap的js文件-->
	<script type="text/javascript" src="/js/extends/bootstrap/bootstrap.js" ></script>
	<!-- datatables相关js文件 -->
	<script type="text/javascript" src="/js/extends/dataTables/jquery.dataTables.js" ></script>
	<script type="text/javascript" src="/js/extends/dataTables/DT_options.js" ></script>
	<!-- layer插件 -->
	<script type="text/javascript" src="/js/extends/layer/layer.js" ></script>
	<!-- 时间选择器插件 -->
	<script type="text/javascript" src="/js/extends/laydate/laydate.js" ></script>
	<script type="text/javascript" src="/js/extends/laydate/laydate_options.js" ></script>
    <!--自定义的js工具类-->
	<script type="text/javascript" src="/js/extends/wzy_utils.js" ></script>
	<!-- 项目公共模块的js文件 -->
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>