<div class="left-menu left-menu-fl">
	<div class="menu-box">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel p_margin">
			<div class="panel-heading" style="padding:0;" role="tab" id="headingOne">
				<span class="icon-bg bg-danger"></span>
				<span class="pull-left icon-margin"><i class="glyphicon glyphicon-home"></i></span>
				<h4 class="panel-title text-left" style="font-size:14px;">
				<a class="collapsed a_block js-url" role="button" data-toggle="collapse" data-parent="#accordion" href="device" aria-expanded="true" aria-controls="device">
					设备管理
					<div class="wave-layer"></div>
				</a>
				</h4>
				<span class="icon-down sr-only"><i class="glyphicon glyphicon-chevron-down"></i></span>
			</div>
			</div>
			<div class="panel p_margin">
			<div class="panel-heading" style="padding:0;" role="tab" id="headingTwo">
				<span class="icon-bg bg-success"></span>
				<span class="pull-left icon-margin"><i class="glyphicon glyphicon-list"></i></span>
				<h4 class="panel-title text-left" style="font-size:14px;">
				<a class="collapsed a_block js-url" role="button" data-toggle="collapse" data-parent="#accordion" href="borrow" aria-expanded="false" aria-controls="borrow">
					预约管理
					<div class="wave-layer"></div>
				</a>
				</h4>
				<span class="icon-down sr-only"><i class="glyphicon glyphicon-chevron-right"></i></span>
			</div>
			</div>
			<div class="panel p_margin">
			<div class="panel-heading" style="padding:0;" role="tab" id="headingFour">
				<span class="icon-bg bg-info"></span>
				<span class="pull-left icon-margin"><i class="glyphicon glyphicon-equalizer"></i></span> 	 
				<h4 class="panel-title text-left" style="font-size:14px;">
					<a class="collapsed a_block js-url" role="button" data-toggle="collapse" data-parent="#accordion" href="points" aria-expanded="false" aria-controls="points">
					信用管理
						<div class="wave-layer"></div>
					</a>
				</h4>
				<span class="icon-down sr-only"><i class="glyphicon glyphicon-chevron-right"></i></span>
			</div>
			</div>
			<div class="panel p_margin">
			<div class="panel-heading" style="padding:0;" role="tab" id="headingThree">
				<span class="icon-bg bg-default"></span>
				<span class="pull-left icon-margin"><i class="glyphicon glyphicon-cog"></i></span> 	 
				<h4 class="panel-title text-left" style="font-size:14px;">
					<a class="collapsed a_block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					系统管理
						<div class="wave-layer"></div>
					</a>
				</h4>
				<span class="icon-down"><i class="glyphicon glyphicon-chevron-right"></i></span>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
				<div class="list-group">
					<a href="user" class="list-group-item"><i class="glyphicon glyphicon-user mr20"></i>用户管理</a> 
					<a href="notice" class="list-group-item"><i class="glyphicon glyphicon-level-up mr20"></i>公告管理</a>	
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>